<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RadfordHrDbContextConnectionString" providerName="System.Data.SqlClient"
			connectionString="Data Source=NISHAN-DIJITALT\\SQLEXPRESS2008;Initial Catalog=RadfordHr;Persist Security Info=False;User ID=sa;Password=Sa@123;Trust Server Certificate=True;" />
	</connectionStrings>
</configuration>